
/* inizio reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* fine reset */

/*  margine righe*/
.row {
  margin: 10px 10px 30px 10px;
}

/* immagini prodotti in linea */
.product {
  position: relative;
  display: inline-block;
}

/* sconti sfondo verde  */
.product .number {
  position: absolute;
  right:0px;
  top:0px;
  width: 35px;
  background-color: green;
  height: 20px;
}
/* fine sconti sfondo verde */

/* sconti con sfondo rosso */
.product .number-red {
  position: absolute;
  right:0px;
  top:0px;
  width: 35px;
  background-color: red;
  height: 20px;
}
/* fine sconti con sfondo rosso */

/* cuore */
.product .heart {
  display: none;
  width: 100%;
  position: absolute;
  bottom: 20px;
  color:red;
  text-align: center;
  font-size: 25px;
}

/* hover sul cuore */
.product:hover .heart {
  display: block;
}
/* fine cuore */
